*{
    box-sizing: border-box;
}

body{
    font-family: "Source Sans Pro";
}

.cabecalho{
    background: #FFF;

    padding: 15px;
}

/* logotipo - componentizado*/

.logo{
    background-image: url(../img/logotipo-preto.png);
    background-repeat: no-repeat;
    display: block;
    width: 120px;
    height: 53px;
    text-indent: -9999px;
    margin: 0;
}

/* botão do menu principal - BEM */

.menu-principal__btn{
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    background-color: #fff;
    background-image: url(../img/menuprincipal-btn-bg.png);
    background-repeat: no-repeat;
    background-position: 5px 7px;
    border-color: #c4c4c4;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
}

.menu-principal__btn--fechar{
    background-position: -48px 7px; 
}

/* lista do menu principal - como modificador (atual)*/

.menu-principal__lista{
    list-style: none;
    padding: 0;
}

.menu-principal__item{
    text-decoration: none;
    font-weight: bold;
    color: #343434;
    margin-bottom: 10px;
    display: block; /* necessário colcar pois o link e displey inline - não aceita valores de margim, etc*/
    font-size: 18px;

    position: absolute;
    top: 15px;
    right: 15px;
}

.menu-principal__item--atual{
    color: #F44242;
}