.lista-trabalhos{
    list-style: none;
    padding: 0;
    margin-top: 100px;
    &__item{
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 50px;
    }
    
    &__item a{
        text-decoration: none;
        color: #000;
    }

    &__img{
        width: 100%;
        height: auto;
        display: block;
    }
    
    &__titulo{
        font-size: 18px;
        margin-left: 15px;
        border-left: 1px solid #000;
        padding-left: 10px;
    }

    @media(min-width: $breackpoint-md){
        &__item{
            margin: 0;
            float: left;
            width: 50%;
            background-color: $cor-principal;
            position: relative;
            overflow: hidden;
            &:hover{
                .lista-trabalhos__img{
                    opacity: 0.1;
                    transform: scale(1.4)
                }
                .lista-trabalhos__titulo{
                    opacity: 1;
                }
            }
        }
        &__img{
            opacity: 1;
            transition: all 300ms ease-in-out;
        }
        &__titulo{
            color: #fff;
            margin: 0;
            padding: 0;
            border: none;
            text-align: center;
            position: absolute;
            top: 40%;
            left: 0px;
            width: 100%;
            background: url(../img/icone-olho.png) no-repeat bottom center;
            padding-bottom: 35px;
            font-size: 22px;
            opacity: 0;
            transition: all 300ms ease-in-out;
        }
    }

    @media(min-width: $breackpoint-lg){
        &__item{
            width: 33.333%;
        }
    }
}
